* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: radial-gradient(ellipse at center, #FFA07A 30%, #FF6347 100%); */
    background: radial-gradient(ellipse at center, #ffbb00 30%, #00aeff 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.sky {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background: radial-gradient(ellipse at center, #FFA07A 30%, #FF6347 100%); */
    background: radial-gradient(ellipse at center, #ca7bff 20%, #5eccff 100%);
    background-color: #9197e9;
}
.night-sky {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* width: 100%;
    height: 100%; */
    padding: 0;
    overflow:hidden;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    max-width:none;
    width: 100%;
    margin-bottom: 5vh;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 140%;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card1{
    width: 40vw;
    height: 40vh;
}
.card2{
    width: 30vw;
    height: 30vh;
}
.card3{
    width: 30vw;
    height: 30vh
}
.card4{
    width: 20vw;
    height: 40vh;
}
.card5{
    width: 15vw;
    height: 15vh;
}
.card6{
    bottom: 20px;
    right: 20px;
    height: 30vh;
}
.card5 img{
    filter: invert();
    opacity: 0.8;
}
.card6 img{
    filter: invert();
    opacity: 0.8;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.404);
}
.first-text{
    top: -100px;
}

.card img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
}
.back-card {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    /* width: 200px;
    height: 100px; */
    cursor:pointer;
}
.style-card {
    position:fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    /* width: 200px;
    height: 100px; */
    cursor: pointer;
}

.text-container {
    overflow: hidden;
    white-space: nowrap;
}

.text {
    font-size: 300%;
    color: white;
}
.project {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70vw;
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap: 100px;
    border-radius: 10px;
    text-decoration: none;
}
.project-container{
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
}

.project1 {
    width: 40vw;
    height: 50vh; /* Adjust height as needed */
    left: 10%; /* Adjust x position as needed */
    top: 10%; /* Adjust y position as needed */
}

.project2 {
    width: 30vw;
    height: 60vh; /* Adjust height as needed */
    left: 60%; /* Adjust x position as needed */
    top: 10%; /* Adjust y position as needed */
}

.project3 {
    width: 30vw;
    height: 45vh; /* Adjust height as needed */
    left: 10%; /* Adjust x position as needed */
    top: 70%; /* Adjust y position as needed */
}

.project4 {
    width: 20vw;
    height: 40vh; /* Adjust height as needed */
    left: 60%; /* Adjust x position as needed */
    top: 70%; /* Adjust y position as needed */
}

.project5 {
    width: 15vw;
    height: 35vh; /* Adjust height as needed */
    left: 35%; /* Adjust x position as needed */
    top: 40%; /* Adjust y position as needed */
}

/* Update CSS for the project images */
.project img {
    max-width: 100%; /* Ensure images fit inside their containers */
    max-height: 100%; /* Ensure images fit inside their containers */
    margin-bottom: 10px;
}

.portfolio-info {
    display: flex;
    justify-content:center;
    width: 100vw; 
    text-decoration: none;
    gap: 8px;
    top: -500px;
}

